<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item List</title>
</head>
<body>
    <h1>Items</h1>
    <a href="{% url 'myapp2:item_create' %}">Add New Item</a>
    <a href="{% url 'myapp2:logout' %}">Logout</a>
    <ul>
        {% for item in items %}
            <li>{{ item.name }} - <a href="{% url 'myapp2:item_update' item.pk %}">Edit</a> - <a href="{% url 'myapp2:item_delete' item.pk%}">Delete</a></li>
        {% endfor %}
    </ul>
</body>
</html>